*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
.registerpagebasecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap:20px;
    padding:5px;
   
    border-radius: 20px;
    border:1px var(--bordercolor);
    height:100vh;
    width:100%;
    background-color: var(--basecolor);
}

.registerpagecontentbasecontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px var(--basecolorsecond) ;
    border-radius: 20px;
}

.registerheading{
    align-items: center;
    justify-content: center;

}