.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 10vh;
    width: 100%;
    background: white;
    color: rgb(17, 4, 4);
    /* border: 2px solid black; */
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1000; */
    

}
.Navbarlinkcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-weight: bolder;
    gap:30px;
    font-size: small;
}
.Navbarlinkcontainer :hover{
    color:#0f9;
    transform:translateX(5px);
    transition: 2s ease-in-out;
}
.logo{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    animation: slider 1.5s ease-in-out;
}
@keyframes slider{
    from{
        transform: rotate(0deg);
        
    }
    to{
        transform: rotate(360deg);
       
    }
}

.logo img{
    height: 10vh;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;

}

.right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.add-button{
    background: #0f9;
    border:none;
    color:white;
    font-size:18px;
    padding: 5px 12px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.profile-icon{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    display: block;
   background-color: var(--basecolorsecond);
}
body{
   background-color: white ;
   color: black;

}
.Content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;

}
.Content a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}
.Content a:hover{
    color: #0f9
    
}