/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headingcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background: linear-gradient(to top,var(--basecolor),var(--bordercolor),var(--basecolorsecond),var(--basecolor)); 
}
.loginbasecontainer{
    display: flex;
    align-items:center;
    height:100vh;
    justify-content: center;
    background: linear-gradient(to right,var(--basecolor), var(--bordercolor) ,var(--secondarycolor),var(--basecolor));
    flex-direction: row;
}
.usernamecontainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:50px;
    
    background-color: var(--basecolorsecond);
    box-shadow: 0px 0px 10px var(--basecolorsecond);
    border-radius: 20px;
    border:1px var(--bordercolor);
}
.usernamecontainer input{
    padding:10px;
    border-radius: 10px;

}
.buttoncontainer  button{
    padding: 10px;
    border-radius: 10px;
    margin: 5%;
    background-color:var(--blackcolor);
    color:var(--basecolorsecond)
}
button:hover{
    background-color: var(--basecolor);
    color:var(--bordercolor)
}
.ImageContainer{
    
    display: flex;
    flex-direction:row; 
    align-items: center;
    margin:10%;
    padding: 40px;
    gap: 10px;
    border-bottom: 10px;
    background-color: var(--basecolorsecond);
    box-shadow: 0px 0px 10px var(--basecolorsecond);
    border: 1px var(--bordercolor);
}
@media(max-width:1080px){
    .mainbaseconatiner{
display:flex;
flex-direction: column;
    
    }
}
@media(max-width:720px){
    .mainbaseconatiner{
display: flex;
flex-direction: column;

gap:10px;
   }
}
@media(max-width:480px){
    .ImageContainer{
        display: none;}
} */
.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--basecolor);
    
}
.login-box{
    background-color: white;
    padding: 30px;
    border: radius 12px;
    box-shadow: 0 4px 10px rgba(0,0,0.1);
    text-align: center;
    border-radius: 10px;
    height: 80vh;
    padding: 20px;
    /* flex-direction: column;
     */
display: flex;

}
h2{
    margin-bottom: 20px;
    color: #0e1a26;

}
.input-group{
    display: flex;
    align-items: center;
    background: #EDEDED;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;

}
.icon{
    margin-right: 10px;
    color: #4A90E2;

}
input,select{
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    outline:none;
    font-size: 16px;
    color: #2C3E50
}
button{
    width: 100%;
    padding: 12px;
    background-color: #E67E22;
    color: white;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
}
button:hover{
    background-color: #e9fa7d;

}

.extra-links{
    text-align: end;
    margin-top: 10px;
    color:#4A90E2

}
.extra-links a:hover{
    text-decoration: underline;
    color:#c5a181;
}
.login-box{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.img-sec{
    width: 50%;
    object-fit: cover;
}

.l-img{
width: 100%;
height: auto;
margin-right: 20px;

}
.flex2
{
    padding: 12px;
}
.btn title :hover {
     background-color: #e9fd64;

}